# TODO this may be removed in the future
old_frontend/
# backend
migrations/

# static files
backend/media/

### frontend
node_modules
dist/
build/

# oauth configurations
oauth_settings.yml

# Python virtual environment
.env

# Python byte-compiled
__pycache__

# Editor files
.idea
.vscode

# Django test database
db.sqlite3

# Mac stuff
.DS_Store

# test
.pytest_cache/
